{% extends "dataviewer/base.html" %}
{% load staticfiles %}
{% block content %}
  <script type="text/javascript" src=" {% static "dataviewer/d3.min.js" %} "></script>
  <script type="text/javascript" src=" {% static "dataviewer/cubism.v1.min.js" %} "></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
<style>

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

</style>
<div id="chart"></div>
<script>

function random(name) {
  var value = 0,
      values = [],
      i = 0,
      last;
  return context.metric(function(start, stop, step, callback) {
    start = +start, stop = +stop;
    if (isNaN(last)) last = start;
    while (last < stop) {
      last += step;
      d3.json(" {% static "dataviewer/data/" %}" + name + ".json", function(rows) {        
	        // Creates an array of the price differences throughout the day
	        rows.forEach(function(d) {
	            values.push(value = d[1]);
	    	}); 
    }
    callback(null, values = values.slice((start - stop) / step));
  }, name);
}

</script>
<script>

var context = cubism.context()
    .serverDelay(0)
    .clientDelay(0)
    .step(1e3)
    .size(960);

var foo = random("foo"),
    bar = random("bar");

d3.select("#chart").call(function(div) {

  div.append("div")
      .attr("class", "axis")
      .call(context.axis().orient("top"));

  div.selectAll(".horizon")
      .data([foo, bar, foo.add(bar), foo.subtract(bar)])
    .enter().append("div")
      .attr("class", "horizon")
      .call(context.horizon().extent([-20, 20]));

  div.append("div")
      .attr("class", "rule")
      .call(context.rule());

});

// On mousemove, reposition the chart values to match the rule.
context.on("focus", function(i) {
  d3.selectAll(".value").style("right", i == null ? null : context.size() - i + "px");
});

</script>
{% endblock %}